.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(135deg, #4447f1, #5b97f8);
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 320px;

  display: flex;
  flex-direction: column;
  align-items: center;     // 👈 центрируем
  text-align: center;      // 👈 центр текста
  gap: 12px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);

  h1 {
    margin: 0;
    font-size: 26px;
  }

  p {
    margin-bottom: 10px;
    color: #6b7280;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
  }

  button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;

    border: none;
    border-radius: 10px;

    background: linear-gradient(135deg, #5b6cff, #7f53ff);
    color: white;

    cursor: pointer;
    transition: 0.2s;
  }

  button:hover {
    opacity: 0.9;
  }
}